/* Usamos tipografia customizada */
@font-face {
    font-family: 'Monaque';
    src: url('/css/fonts/JetBrainsMono-Regular.woff2');
}

/* Asignamos estilo general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monaque';
    font-size: 10px;
    color: rgb(80, 80, 80);
}

/* Le damos un color al body */
body {
    background: linear-gradient(220.55deg, rgb(255, 237, 70) 0%, #FF7EC7 100%);
}

/* Uso el container para alinear la tarjeta al centro*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Doy estilos a la tarjeta */
.tarjeta {
    padding: 5%;
    border-radius: 14px;
    background-color: rgb(245, 245, 219);
    border: 3px solid rgba(209, 93, 93, 0.767);
    box-shadow:
        0px -5px 8px rgba(255, 133, 84, 0.719),
        2px 5px 8px rgba(255, 70, 172, 0.616);
}

/* Agranda la tarjeta cuando el mouse este encima */
.tarjeta:hover {
    padding: 7%;
    transition: padding 500ms;
    transition-delay: 80ms;
}

/* Encoge la tarjeta cuando el mouse no este encima */
.tarjeta:not(:hover) {
    padding: 5%;
    transition: padding 500ms;
}

/* Asigno estilos a todas las etiquetas h1 y h2 */
h1 {
    font-size: 1.8rem;
    text-align: left;
    font-weight: 100;
}

h2 {
    font-size: 2.6rem;
    text-align: center;
}
/* Fin del estilo de las tarjetas */

/* Estilos generales del input y del label*/
.inputGroup {
    margin: 2rem 0;
    max-width: 190px;
    position: relative;
}

/* Estilos del input text */
.inputGroup input[type=text] {
    font-size: 1.5rem;
    padding: 0.8rem;
    outline: none;
    border: 2px solid rgba(209, 93, 93, 0.514);
    background-color: transparent;
    border-radius: 8px;
    width: 100%;
}

/* Estilos del label */
.inputGroup label {
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    padding: 1.4rem 0 0 0.5rem;
    color: rgb(121, 121, 121);
    margin-left: 0.5rem;
    pointer-events: none;
    transition: all 0.34s ease;
}

/* Se anima el label cuando se hace click encima del input */
.inputGroup :is(input[type=text]:focus, input:not(:placeholder-shown))~label {
    transform: translateY(-50%) scale(0.8);
    /* margin-left: 0.5rem; */
    padding: 0;
    background-color: beige;
}

/* El input tendra un color mas fuerte cuando el mouse se pase por encima */
.inputGroup :is(input[type=text]:focus, input[type=text]:hover) {
    border-color: rgba(209, 93, 93, 0.767);
}